<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.2/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory="var/phpunit"
         executionOrder="defects"
         failOnWarning="true"
         failOnRisky="true"
         failOnNotice="true"
         failOnDeprecation="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true">
    <testsuites>
        <testsuite name="core">
            <directory>tests/php</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src/php</directory>
        </include>
    </source>
</phpunit>
